* {
margin: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wrapper{
background-color: green;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.flexbox { 
border: 5px solid  white;
padding: 2rem;
display:  flex;
gap: 2rem;
width: 15rem;
max-width: 90%;

}

.card{
background-color: red;
color: yellow;
width:10rem;
padding: 1rem;
border:solid 3px blue;
}

