
*{
    box-sizing: border-box;
}

.wrapper{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%
overflow hidden; 
padding: 1rem;
}









@keyframes shimmy {
0% {transform: rotate(-20deg);}
50% {transform: rotate(+20deg);}
100% {transform: rotate(-20deg);}

}

.sprite {

    width: 250px;
    animation-name: shimmy;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transform: rotate(-20deg);
}



